
    #car1 {
      background: url("../images/carousel/cropped/20211215_184315436_iOS.jpg?as=webp");
      -moz-background-size: cover;
      background-size: cover;
      animation-delay: 0s;
    }

    
    #car2 {
      background: url("../images/carousel/cropped/20220202_232539710_iOS.jpg?as=webp");
      -moz-background-size: cover;
      background-size: cover;
      animation-delay: 8s;
    }

    
    #car3 {
      background: url("../images/carousel/cropped/20220202_232555021_iOS.jpg?as=webp");
      -moz-background-size: cover;
      background-size: cover;
      animation-delay: 16s;
    }

    
    #car4 {
      background: url("../images/carousel/cropped/20221210_233043372_iOS.jpg?as=webp");
      -moz-background-size: cover;
      background-size: cover;
      animation-delay: 24s;
    }

    
    #car5 {
      background: url("../images/carousel/cropped/20230810_192408000_iOS.jpg?as=webp");
      -moz-background-size: cover;
      background-size: cover;
      animation-delay: 32s;
    }

    
    #car6 {
      background: url("../images/carousel/cropped/Abbotsford Grand Opening.jpeg?as=webp");
      -moz-background-size: cover;
      background-size: cover;
      animation-delay: 40s;
    }

    
    #car7 {
      background: url("../images/carousel/cropped/Debbie Warren - 1.jpg?as=webp");
      -moz-background-size: cover;
      background-size: cover;
      animation-delay: 48s;
    }

    
    #car8 {
      background: url("../images/carousel/cropped/Grad-1.png?as=webp");
      -moz-background-size: cover;
      background-size: cover;
      animation-delay: 56s;
    }

    
    #car9 {
      background: url("../images/carousel/cropped/Kylie Haaf - 3.jpg?as=webp");
      -moz-background-size: cover;
      background-size: cover;
      animation-delay: 64s;
    }

    
    #car10 {
      background: url("../images/carousel/cropped/Langley Feature wall.png?as=webp");
      -moz-background-size: cover;
      background-size: cover;
      animation-delay: 72s;
    }

    
    #car11 {
      background: url("../images/carousel/cropped/Sarah Schwab - 3.jpg?as=webp");
      -moz-background-size: cover;
      background-size: cover;
      animation-delay: 80s;
    }

    
    #car12 {
      background: url("../images/carousel/cropped/slide2.jpeg?as=webp");
      -moz-background-size: cover;
      background-size: cover;
      animation-delay: 88s;
    }

    
    #car13 {
      background: url("../images/carousel/cropped/slide3.png?as=webp");
      -moz-background-size: cover;
      background-size: cover;
      animation-delay: 96s;
    }

    
  .carousel-item {
    position:-webkit-sticky;
    position:sticky;
    top:25px;
    left:0px;
    width: 100%;
    height: 100%;
      background-repeat: no-repeat;
      -webkit-animation: fade 195s infinite;
      animation: fade 195s infinite;
}