
    #car1 {
      background: url("../images/carousel/cropped/20211215_184315436_iOS.jpg?as=webp");
      background-size: cover;
      -moz-background-size: cover;
    }

    
    #car2 {
      background: url("../images/carousel/cropped/20220202_232539710_iOS.jpg?as=webp");
      background-size: cover;
      -moz-background-size: cover;
    }

    
    #car3 {
      background: url("../images/carousel/cropped/20220202_232555021_iOS.jpg?as=webp");
      background-size: cover;
      -moz-background-size: cover;
    }

    
    #car4 {
      background: url("../images/carousel/cropped/20221210_233043372_iOS.jpg?as=webp");
      background-size: cover;
      -moz-background-size: cover;
    }

    
    #car5 {
      background: url("../images/carousel/cropped/20230810_192408000_iOS.jpg?as=webp");
      background-size: cover;
      -moz-background-size: cover;
    }

    
    #car6 {
      background: url("../images/carousel/cropped/Abbotsford Grand Opening.jpeg?as=webp");
      background-size: cover;
      -moz-background-size: cover;
    }

    
    #car7 {
      background: url("../images/carousel/cropped/Debbie Warren - 1.jpg?as=webp");
      background-size: cover;
      -moz-background-size: cover;
    }

    
    #car8 {
      background: url("../images/carousel/cropped/Grad-1.png?as=webp");
      background-size: cover;
      -moz-background-size: cover;
    }

    
    #car9 {
      background: url("../images/carousel/cropped/Kylie Haaf - 3.jpg?as=webp");
      background-size: cover;
      -moz-background-size: cover;
    }

    
    #car10 {
      background: url("../images/carousel/cropped/Langley Feature wall.png?as=webp");
      background-size: cover;
      -moz-background-size: cover;
    }

    
    #car11 {
      background: url("../images/carousel/cropped/Sarah Schwab - 3.jpg?as=webp");
      background-size: cover;
      -moz-background-size: cover;
    }

    
    #car12 {
      background: url("../images/carousel/cropped/slide2.jpeg?as=webp");
      background-size: cover;
      -moz-background-size: cover;
    }

    
    #car13 {
      background: url("../images/carousel/cropped/slide3.png?as=webp");
      background-size: cover;
      -moz-background-size: cover;
    }

    