
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade col" data-bs-ride="carousel" data-bs-interval="3000">
      <ol class="carousel-indicators">
  
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
    
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" ></li>
    
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" ></li>
    
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" ></li>
    
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" ></li>
    
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" ></li>
    
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" ></li>
    
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" ></li>
    
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" ></li>
    
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" ></li>
    
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10" ></li>
    
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="11" ></li>
    
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="12" ></li>
    
      </ol>
      <div class="carousel-inner">
  
      <div class="carousel-item active" id="car1">

      </div>
    
      <div class="carousel-item " id="car2">

      </div>
    
      <div class="carousel-item " id="car3">

      </div>
    
      <div class="carousel-item " id="car4">

      </div>
    
      <div class="carousel-item " id="car5">

      </div>
    
      <div class="carousel-item " id="car6">

      </div>
    
      <div class="carousel-item " id="car7">

      </div>
    
      <div class="carousel-item " id="car8">

      </div>
    
      <div class="carousel-item " id="car9">

      </div>
    
      <div class="carousel-item " id="car10">

      </div>
    
      <div class="carousel-item " id="car11">

      </div>
    
      <div class="carousel-item " id="car12">

      </div>
    
      <div class="carousel-item " id="car13">

      </div>
    
      </div>
    </div>
  