<div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{sequence}}" aria-controls="collapse{{sequence}}" aria-expanded="false">
        {{question}}
      </button>
    </h2>
    <div id="collapse{{sequence}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        {{answer}}
      </div>
    </div>
  </div>
